#Data Types and  Structure

# Theory Question Ans

Q1.  What are data structures, and why are they important?

Ans  - Data structures are organized ways to store, manage, and retrieve data efficiently. They are essential for optimizing performance, enabling quick data access, and solving complex problems effectively.

Q2. Explain the difference between mutable and immutable data types with examples.

Ans - Mutable data types can be changed after creation, while immutable ones cannot. For example, **lists** are mutable (`[1, 2, 3]` can be modified), but **tuples** are immutable (`(1, 2, 3)` cannot be changed after creation).

Q3. What are the main differences between lists and tuples in Python?

Ans -   The main dffrence between List and Tuples are:-
1) List: - Mutable, dynamic size, slower, use [], more memory.

2) Tuples: - -  Immutable, fixed size, faster, use (), memory-efficient.
- Lists suit frequent edits; tuples suit fixed, read‑only data.

Q4. Descibe how dictionaries store data.

-  A dictionary uses a hash table where each key is hashed to find a bucket storing its key–value pair. Collisions are resolved via open addressing. Operations are average O(1), and from Python 3.7+, insertion order is preserved.

Q5. Why might you use a set instead of a list in Python?

-  A set stores unique, unordered elements and offers faster lookups on average due to its hash‑table implementation. Ideal when you need to remove duplicates, test membership quickly, or perform set operations like union/intersection efficiently.

Q6. What is a string in Python, and how is it different from a list?
-  string in python

An immutable sequence of characters enclosed in quotes (`'...'` or `"..."`). Supports indexing, slicing, and various text methods, but changes create a new string.  

-  Diffrence from a list

Lists are mutable, can hold mixed data types, use `[]`, and allow in‑place modifications, unlike strings.

Q7. How do tuples ensure data integrity in Python?

- In Python, tuples are immutable sequences meaning their elements cannot be altered after creation. This immutability prevents accidental modification, ensuring data remains consistent and reliable — ideal for fixed collections that must stay unchanged during execution.

Q8. What is a hash table, and how does it relate to dictionaries in Python?


-  A hash table is a data structure that stores key - value pairs using a hash function to map keys to memory locations, enabling fast lookup insertions, and deletions. In Python, dictionaries are built on hash tables, allowing quick data access by computing a key's hash and retrieving its value efficiently.

Q9.  Can lists contain different data types in Python?

-  Yes, Python lists are heterogeneous, meaning they can store elements of different data types together, such as integers, strings, floats, or even other lists, all within a single list. This flexibility makes them highly versatile for varied data.

Q10. Explain why strings are immutable in Python.

-  Strings are immutable to enhance security consistency, and performance .Once created, they cannot be altered—any modification creates a new string—preventing unintended changes and optimizing memory usage.

Q11. What advantages do dictionaries offer over lists for certain tasks?

-  Dictionaries in Python allow fast access to values via unique keys, avoiding slow linear searches in lists. They support efficient insertions, deletions, and lookups, and naturally model key - value relationships for clearer, more direct data mapping.

Q12. Describe a scenario where using a tuple would be preferable over a list.

-  A tuple is ideal for storing fixed unchangeble data, such as GPS coordinates (28.4595 , 75.0266) for Gurugram. Since tuples are immutable, the values remain protected from accidental modification, ensuring long-term data integrity.

Q13. How do sets handle duplicate values in Python?

-  Sets automatically remove duplicates because they store elements in a hash table where each value must have a unique hash. If you try adding an existing element, it's simply ignored — keeping every item unique.

Q14. How does the “in” keyword work differently for lists and dictionaries?

-  in keyword — Lists vs Dictionaries in Python

- Lists → Checks if a Value exists (linear search).  
- Dictionaries → Checks if a key exists (hash table lookup).  
- For values in dict, use: val in Dict.value()
- Dict lookup is generally faster due to hashing.  

Q15. Can you modify the elements of a tuple? Explain why or why not.

- Tuple in python are immutable — once created, their elements can’t be changed, added, or removed. This immutability is by design, making tuples hashable (when containing only immutable types) and safe for use as dictionary keys. To “change” data, you must create a new tuple instead.

Q16.  What is a nested dictionary, and give an example of its use case?

- Nested Dictionary — a dictionary containing other dictionaries as values. It’s useful for representing complex, structured data.  

Example :- Storing student records:

students = {"Alice": {"age": 20, "grade": "A"}, "Bob": {"age": 22, "grade": "B"}}

Q17. Describe the time complexity of accessing elements in a dictionary

-  Dictionary accessing complexity


Accessing elements by key in a Python dictionary is O(1) on average (due to hashing), but O(n) in worst-case scenarios like excessive hash collisions.

Q18. In what situations are lists preferred over dictionaries?

- When to prefer list over Dictionary

Lists are ideal when:  

- Order of elements matters.  
- Data is simple and only values are stored.  
- Sequential access or iteration is common.  
- Index-based access is needed instead of key-based lookups.  

Q19.  Why are dictionaries considered unordered, and how does that affect data retrieval?

- Originally, dictionaries were considered Unordered because their internal aahash table storage places key–value pairs based on hash values, not sequence. This meant iteration order could differ from insertion order, so retrieval by position wasn’t possible or predictable.  

From Python3.7 +, insertion order is preserved as an implementation detail, but logical operations still rely on keys, not positions — meaning you access values by their keys, and order is secondary to fast, O(1) lookups.

Q20.  Explain the difference between a list and a dictionary in terms of data retrieval.

-  List vs Dictionary - Data Retrieval

- List: Access items by index (position). Lookup is O(1) if index known, but finding an item by value requires scanning (O(n)).  
- Dictionary: Access items by key via hashing. Key lookup is typically *O(1)* and doesn’t depend on position.  
- Impact: Lists suit ordered sequences; dictionaries excel at fast, key-based retrieval.

#Practical Questions And Ans

Q1.  Write a code to create a string with your name and print it.

In [ ]:
name = "yash"

print(name)

yash

Q2.  Write a code to find the length of the string "Hello World".

In [20]:
text = "Hello World"
length =len(text)
print("length of the string:", length)

length of the string: 11

Q3.  Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
text = "python programming"
first_three = text[:3]
print("first 3 charcter are:", first_three)

first 3 charcter are: pyt

Q4. Write a code to convert the string "hello" to uppercase.

In [ ]:
text = "hello"
uppercase_text = text.upper()
print("uppercase string:", uppercase_text)

uppercase string: HELLO

Q5.  Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
text = "I Like apple"
new_text = text.replace("apple", "orange")
print("updated string:", new_text)

updated string: I Like orange

Q6.  Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print("list of numbers:", numbers)

list of numbers: [1, 2, 3, 4, 5]

Q7.  Write a code to append the number 10 to the list [1, 2, 3, 4, 5].

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.append(10)
print("updated list:", numbers)

updated list: [1, 2, 3, 4, 5, 10]

Q8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
number = [1, 2, 3, 4, 5]
number.remove(3)
print("updated list:", number)

updated list: [1, 2, 4, 5]

Q9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print("second element:", second_element)

second element: b

Q10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = [10, 20 , 30, 40, 50]
reversed_list = my_list[:: -1]
print("reversed list:", reversed_list)

reversed list: [50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple =(100, 200, 300)
print(my_tuple)

(100, 200, 300)

Q12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_last_element = my_tuple[-2]
print(second_last_element)

blue

Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

Q14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat' , 'rabbit')
index = my_tuple.index('cat')
print(index)

1

Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
my_tuple = ('apple,' 'banana', 'kiwi')
if 'kiwi' in my_tuple:
 print("kiwi is in the tuple")
else:
   print("kiwi is not in the tuple")

kiwi is in the tuple

Q16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a,', 'b', 'c'}
print(my_set)

{'a,', 'c', 'b'}

Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {'1', '2', '3', '4', '5'}
my_set.clear()
print(my_set)

set()

Q18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set = {'1','2','3', '4'}
my_set.remove('4')
print(my_set)

{'2', '3', '1'}

Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
my_set1 = {'1', '2', '3'}
my_set2 = {'3', '4', '5'}
union_set = my_set1.union(my_set2)
print(union_set)

{'4', '3', '5', '1', '2'}

Q20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
my_set1 = {'1', '2', '3'}
my_set2 = {'2', '3', '4'}
intersection_set = my_set1.intersection(my_set2)
print(intersection_set)

{'2', '3'}

Q21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
my_dict = {"name": "yash", "age": 24, "city": "jamalpur"}
print(my_dict)

{'name': 'yash', 'age': 24, 'city': 'jamalpur'}

Q22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
my_dict = {'name': 'john', 'age': 25}
my_dict["country"] = "usa"
print(my_dict)

{'name': 'john', 'age': 25, 'country': 'usa'}

Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict["name"])

Alice

Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
my_dict = {'name': 'Bob', 'age': '22', 'city': 'New York'}
my_dict.pop("age")
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

Q25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
my_dict = {'name': 'Alice', 'city': 'paris'}
if "city" in my_dict:
  print("city is in the dictionary")
else:
  print("city is not in my dictionary")

city is in the dictionary

Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'papaya')
my_dict = {'name': "yash", 'city': "jamalpur", 'age': 24}

print("list:", my_list)
print("tuple:", my_tuple)
print("Dictionary:", my_dict)

list: [1, 2, 3, 4, 5]
tuple: ('apple', 'banana', 'papaya')
Dictionary: {'name': 'yash', 'city': 'jamalpur', 'age': 24}

Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result (replaced).

In [1]:
my_list = [10, 25, 5, 55, 50]
my_list.sort()
print(my_list)

[5, 10, 25, 50, 55]

Q28. Write a code to create a list with strings and print the element at the third index.

In [6]:
my_list = ['apple', 'banana', 'grapes', 'pumpkin']
third_element = my_list[2]
print(third_element)

grapes

Q29.  Write a code to combine two dictionaries into one and print the result.

In [17]:
my_dict1 = {"name": "Yash", "age": 24 }
my_dict2 = {"city": "jamalpur", "country": "india"}
combine_dict = {**my_dict1, **my_dict2}
print("Combined Dictionary:", combine_dict)

Combined Dictionary: {'name': 'Yash', 'age': 24, 'city': 'jamalpur', 'country': 'india'}

Q30. Write a code to convert a list of strings into a set.

In [19]:
my_list = ['apple', 'banana', 'grapes', 'orange']
my_set = set(my_list)
print("set:", my_set)

set: {'grapes', 'banana', 'apple', 'orange'}